.titulo {
	font-family: 'Dokdo', cursive;
	color: #FE2E2E;
}

img {
	width: 300px;
	height: 220px;
}

.paragrafo {
	font-family: 'Dokdo', cursive;
	font-family: 'Source Serif Pro', serif;
	color: #000000;
}